* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    background: #f5eee0;
    color: #6f6f6f;
    font-family: Calibri, 'Arial Narrow Bold', sans-serif, monospace;
    font-size: 14px;
    margin: 0 auto;
    max-width: 840px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    color: #212a2d;
    font-size: 26px;
}

h3 {
    
}

h4 {
    color: #8c4cf7;
    font-size: 14px;
}

p {
    line-height: 24px;
    margin: 8px 0;
}

img {
    display: block;
}

strong {
    color: #2a1c29;
}

a {
    color: #8c4cf7;
}

ul {
    list-style: symbols(cyclic "*" "†" "‡");
}

li {
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

hr {
    margin: 30px;
    width: 900px;
    padding-right: 55px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#title {
    text-align:center;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(199, 11, 11, 0.668);
    display:block;
    margin: 28px auto 8px auto;
}

#main {

}

.container {
    background-color: rgba(199, 11, 11, 0.668);
    display: inline-block;
    width: 900px;
    height: 400px;
}   

.container:hover {
    box-shadow: 0 12px 18px 0 rgba(34, 60, 80, .16);
    filter: drop-shadow(.90);
}

#img-div {
    
}

#image {
    width: 500px;
    height: 370px;
    max-width: 100%;
}

#image:hover {
    box-shadow: 0 12px 18px 0 rgba(34, 60, 80, .16);
    filter: sepia(0.75);
}

#img-caption {
    text-align: right;
}

#tribute-info {
    color: #401a6cc8;
    font-size: 32px;
}

.timeline-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.timeline-list {
    padding: 20px;
    text-align: left;
    text-decoration: none;
    line-height: 2.8;
    font-size: 16.5px;
    text-align: justify;
}

.footer {
    background: rgba(199, 11, 11, 0.668);
    display: inline-block;
    width: 900px;
    padding: 16px;
}

.quote {
    font-style: italic;
    font-size: 15px;
    color: azure;
}

.speaker {
    text-align: end;
    font-style: italic;
    color: azure;
}

#tribute-link {
    color: azure;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 480px) {
    .footer {
        width: 100px;
    }
    .timeline-grid {
        grid-template-columns: 100%;
    }

    #image {
        display: block;
        max-width: 100%;
    }
}

@media screen and (min-width: 70px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: red;
    }
  }
  
  @media screen and (min-width: 700px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: orange;
    }
  }
  
  @media screen and (min-width: 800px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: yellow;
    }
  }
  
  @media screen and (min-width: 900px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: green;
    }
  }
  
  @media screen and (min-width: 1000px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: blue;
    }
  }
  
  @media screen and (min-width: 1100px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: indigo;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .rainbow {
      width: 50%;
      height: 100px;
      background-color: violet;
    }
  }