body {
    background: #f5eee0;
    color: #6f6f6f;
    font-family: Calibri, 'Arial Narrow Bold', sans-serif, monospace;
    font-size: 14px;
    margin: 0 auto;
    max-width: 840px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0;
}

h2 {
    color: #212a2d;
    font-size: 26px;
}

h3 {
    color: #401a6cc8;
    font-size: 32px;
}

h4 {
    color: #8c4cf7;
    font-size: 14px;
}

p {
    line-height: 24px;
    margin: 8px 0;
}

strong {
    color: #2a1c29;
}

a {
    color: #8c4cf7;
}

li {
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

hr {
    margin: 30px;
    width: 900px;
    padding-right: 55px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title {
    text-align:center;
    font-weight:bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(199, 11, 11, 0.668);
    display:block;
}

.container {
    background-color: rgba(199, 11, 11, 0.668);
    display: inline-block;
    width: 900px;
    height: 400px;
    align-items: center;
    justify-content: center;
}   

#image {
    width: 500px;
    height: 370px;
    padding: 15px;
    padding-left: 200px;
}

.image-caption {
    
}

.tribute-info {

}

.timeline-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.timeline-list {
    padding: 20px;
    text-align: left;
    text-decoration: none;
    line-height: 2.8;
    font-size: 16.5px;
    text-align: justify;
}

.footer {
    background: rgba(199, 11, 11, 0.668);
    display: inline-block;
    width: 900px;
    padding: 16px;
}

.quote {
    font-style: italic;
    font-size: 15px;
    color: azure;
}

.speaker {
    text-align: end;
    font-style: italic;
    color: azure;
}

.addtl-reading {
    color: azure;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 480px) {
    .footer {
        width: 100px;
    }
    .timeline-grid {
        grid-template-columns: 100%;
    }
}